.App {
  margin: 20px;
}

.App-header {
  color: white;
}

.App-link {
  color: #61dafb;
}

.topnav {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
}

.navItem {
  display: inline-block;
  margin-right: 25px;
  margin-top: 25px;
  font-size: large;
}
